.pageControls {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.pagination {
    width: 6rem;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination button {
    width: 4rem;
    height: 35%;
    border-radius: 12px;
    outline: none;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color:rgb(235, 117, 127) ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}
.pagination button:hover{
    cursor: pointer;
    background-color:rgb(185, 91, 99) ;
}

