.mediaScore {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.stat {
  height: 100%;
  color: white;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

