.post {
    width: 20rem;
    height: 35rem;
    background-color: #474a51;
    display: flex;
    flex-direction: column;
}
.imageScore{
    width: 100%;
    height: 28rem;
    border-bottom: solid white 1px;
    display: flex;
    flex-direction: column;
}
.media {
    width: 100%;
    height: 24rem;
    display: flex;
    align-items: center;
    border-bottom: solid white 1px;
}


@media only screen and (min-width: 800px){
    .post{
        width: 760px;
        
    }
    .imageScore{
        width: 100%;
        height: 28rem;
        border-bottom: solid white 1px;
        display: flex;
        flex-direction: row;
    }
    .media {
        height: 100%;
        width: 670px;
        border-right: solid white 1px;
        border-bottom: none;
    }
}