.filterOptions {
    width: 100%;
    height: 100%;
}
.filterOptions form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.filterOptions select {
    font-size: 24px;
    background-color: none;
    border: none;
    outline: none;
    color: #777;
    font-family: 'Roboto';
    font-weight: 300;
}